@page
@model AboutModel

<div class="about">
        <div class="aboutImage">
            <img class="aboutImg" src="~/assets/images/how-ya-doin-300x300.png" alt="pic">
        </div><br>

        <div class="text">
            <h1>This application is  part of my portfolio.</h1><br>
            <h3>If you <mark>like</mark> what you see here , feel free to <mark>contact</mark> me</h3>
        </div>

    <div class="contact">
        <a href=" /jibrilosman404@gmail.com" target="_blank">
            <i class="fa-solid fa-envelope-open-text"></i>
            jibrilosman404@gmail.com
        </a><br>
        <a href="linkedin.com/in/jibril-osman-omar-25bb98216/" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
            linkedin.com/in/jibril-osman-omar-25bb98216/
        </a><br>
        
        <a href="" target="_blank">
            <i class="fa-brands fa-facebook-square"></i>
            https://www.facebook.com/jibrilo1
        </a><br>

        <a href="">
            <i class="fa-solid fa-mobile-screen-button"></i>
            647-907-1141
        </a><br>

    </div>
</div>